.aboutContainer {
    text-align: center;
    padding: 20px;
  }
  
  .about {
    font-size: 4em;
    margin-bottom: 20px;
  }
  
  .aboutSection {
    margin-bottom: 20px;
  }
  
  .aboutSection h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .aboutSection p {
    font-size: 1em;
    margin: 0 auto;
    width: 80%;
    line-height: 1.6;
  }
  